# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
# TensorFlow Lite virtual environment
source/rpi/tflite/venv_tflite/
# Jupyter
.ipynb_checkpoints/
# Logs
*.log
# Temp files
*.tmp
*.bak
# VS Code
.vscode/
# macOS
.DS_Store
# Fritzing
*.fzz
# Images
# (Allow model/TB74.png to be tracked)
!model/TB74.png
# Model files
*.torchscript
*.bin
*.param
runs/

# 3D Model and Print Files
*.stl
*.gcode
